---
import Layout from "../layouts/Layout.astro"
import Navigation from "../components/Navigation.astro"

const pageTitle = "博客"
---

<Layout title={pageTitle}>
  <p>这是我的 Astro 学习笔记</p>
  <ul>
    <li><a href="/posts/post-1/">文章 1</a></li>
    <li><a href="/posts/post-2/">文章 2</a></li>
    <li><a href="/posts/post-3/">文章 3</a></li>
  </ul>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
