---
import BlogPost from "../components/BlogPost.astro"
import Layout from "../layouts/Layout.astro"

const pageTitle = "博客"
const allPosts = await Astro.glob("../pages/posts/*.md")
---

<Layout title={pageTitle}>
  <p>这是我的 Astro 学习笔记</p>
  <ul>
    {
      allPosts.map(post => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
