---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"

const pageTitle = "首页"
---

<Layout title={pageTitle}>
  <a href="/">{pageTitle}</a>
  <a href="/about/">关于</a>
  <a href="/blog/">博客</a>
  <h1>我的 Astro 站点</h1>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
